/* 
font-family: 'Roboto', sans-serif;
font-family: 'Indie Flower', cursive;
*/

body {
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', cursive;
}

html {
    height: 100%;
}

#content {
    text-align: center;
    padding-top: 25%;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rbga(0,0,0,0.2);
}

.navbar-brand {
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    font-size: 20px;
    align-content: center;
}
